.timeline-container {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

/* Línea vertical central */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #e5e5e5;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline-content {
  width: calc(50% - 50px);
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Alinea contenido a la derecha o izquierda */
.timeline-item:nth-child(odd) .timeline-content {
  margin-right: auto;
  text-align: right;
  padding-right: 30px;
}

.timeline-item:nth-child(even) .timeline-content {
  margin-left: auto;
  text-align: left;
  padding-left: 30px;
  height:  50px;
}

/* Estilos para los círculos con iconos */
.timeline-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
  
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.timeline-icon svg {
  width: 25px;
 
}

/* Colores para cada item */
.timeline-item h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}
.timeline-item p {
  font-size: 18px;
}

.timeline-item .timeline-icon {
  border-color: var(--primary-color);
}
.timeline-item .timeline-icon svg {
  color: var(--blanco);
  fill: var(--blanco);
}
.timeline-item h3 {
  color: var(--primary-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .timeline-container::after {
    left: 30px;
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-content {
    width: calc(100% - 80px);
    margin-left: 80px !important;
    text-align: left !important;
    padding-left: 20px !important;
    padding-right: 0 !important;
  }

  .timeline-icon {
    left: 30px;
  }
}
